<div class="bg-red-900 text-center text-white py-8">
    <h1 class="font-medium text-3xl">Blogs</h1>
</div>

<section class="text-gray-600 body-font">
    <div class="container md:px-48 px-8 py-8 mb-10 mx-auto flex flex-wrap">
        <div class="flex flex-wrap m-4">
            <div class="md:w-1/4 text-sm">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="assets/images/cat-3.jpg"
                        alt="blog">
                    <div class="h-1 w-full bg-yellow-400 rounded"></div>
                    <div class="p-4 border-2">
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The Catalyzer</h1>
                        <p class="leading-relaxed mb-3 text-xs">Photo booth fam kinfolk cold-pressed sriracha leggings
                            jianbing
                            microdosing tousled waistcoat.</p>
                        <p class="text-xs">By John Doe</p>
                        <div class="flex items-center flex-wrap ">
                            <div class="inline-block mt-2">
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:w-1/4 text-sm">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="assets/images/cat-5.jpg"
                        alt="blog">
                    <div class="h-1 w-full bg-yellow-400 rounded"></div>
                    <div class="p-4 border-2">
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The Catalyzer</h1>
                        <p class="leading-relaxed mb-3 text-xs">Photo booth fam kinfolk cold-pressed sriracha leggings
                            jianbing
                            microdosing tousled waistcoat.</p>
                        <p class="text-xs">By John Doe</p>
                        <div class="flex items-center flex-wrap ">
                            <div class="inline-block mt-2">
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:w-1/4 text-sm">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-cover object-center"
                        src="assets/images/lasagna-bolognese.jpg" alt="blog">
                    <div class="h-1 w-full bg-yellow-400 rounded"></div>
                    <div class="p-4 border-2">
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The Catalyzer</h1>
                        <p class="leading-relaxed mb-3 text-xs">Photo booth fam kinfolk cold-pressed sriracha leggings
                            jianbing
                            microdosing tousled waistcoat.</p>
                        <p class="text-xs">By John Doe</p>
                        <div class="flex items-center flex-wrap ">
                            <div class="inline-block mt-2">
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:w-1/4 text-sm">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="assets/images/cat-2.jpg"
                        alt="blog">
                    <div class="h-1 w-full bg-yellow-400 rounded"></div>
                    <div class="p-4 border-2">
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The Catalyzer</h1>
                        <p class="leading-relaxed mb-3 text-xs">Photo booth fam kinfolk cold-pressed sriracha leggings
                            jianbing
                            microdosing tousled waistcoat.</p>
                        <p class="text-xs">By John Doe</p>
                        <div class="flex items-center flex-wrap ">
                            <div class="inline-block mt-2">
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap m-4">
            <div class="md:w-1/4 text-sm">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="assets/images/cat-3.jpg"
                        alt="blog">
                    <div class="h-1 w-full bg-yellow-400 rounded"></div>
                    <div class="p-4 border-2">
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The Catalyzer</h1>
                        <p class="leading-relaxed mb-3 text-xs">Photo booth fam kinfolk cold-pressed sriracha leggings
                            jianbing
                            microdosing tousled waistcoat.</p>
                        <p class="text-xs">By John Doe</p>
                        <div class="flex items-center flex-wrap ">
                            <div class="inline-block mt-2">
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:w-1/4 text-sm">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="assets/images/cat-5.jpg"
                        alt="blog">
                    <div class="h-1 w-full bg-yellow-400 rounded"></div>
                    <div class="p-4 border-2">
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The Catalyzer</h1>
                        <p class="leading-relaxed mb-3 text-xs">Photo booth fam kinfolk cold-pressed sriracha leggings
                            jianbing
                            microdosing tousled waistcoat.</p>
                        <p class="text-xs">By John Doe</p>
                        <div class="flex items-center flex-wrap ">
                            <div class="inline-block mt-2">
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:w-1/4 text-sm">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-cover object-center"
                        src="assets/images/lasagna-bolognese.jpg" alt="blog">
                    <div class="h-1 w-full bg-yellow-400 rounded"></div>
                    <div class="p-4 border-2">
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The Catalyzer</h1>
                        <p class="leading-relaxed mb-3 text-xs">Photo booth fam kinfolk cold-pressed sriracha leggings
                            jianbing
                            microdosing tousled waistcoat.</p>
                        <p class="text-xs">By John Doe</p>
                        <div class="flex items-center flex-wrap ">
                            <div class="inline-block mt-2">
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:w-1/4 text-sm">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="assets/images/cat-2.jpg"
                        alt="blog">
                    <div class="h-1 w-full bg-yellow-400 rounded"></div>
                    <div class="p-4 border-2">
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The Catalyzer</h1>
                        <p class="leading-relaxed mb-3 text-xs">Photo booth fam kinfolk cold-pressed sriracha leggings
                            jianbing
                            microdosing tousled waistcoat.</p>
                        <p class="text-xs">By John Doe</p>
                        <div class="flex items-center flex-wrap ">
                            <div class="inline-block mt-2">
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap m-4">
            <div class="md:w-1/4 text-sm">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="assets/images/cat-3.jpg"
                        alt="blog">
                    <div class="h-1 w-full bg-yellow-400 rounded"></div>
                    <div class="p-4 border-2">
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The Catalyzer</h1>
                        <p class="leading-relaxed mb-3 text-xs">Photo booth fam kinfolk cold-pressed sriracha leggings
                            jianbing
                            microdosing tousled waistcoat.</p>
                        <p class="text-xs">By John Doe</p>
                        <div class="flex items-center flex-wrap ">
                            <div class="inline-block mt-2">
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:w-1/4 text-sm">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="assets/images/cat-5.jpg"
                        alt="blog">
                    <div class="h-1 w-full bg-yellow-400 rounded"></div>
                    <div class="p-4 border-2">
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The Catalyzer</h1>
                        <p class="leading-relaxed mb-3 text-xs">Photo booth fam kinfolk cold-pressed sriracha leggings
                            jianbing
                            microdosing tousled waistcoat.</p>
                        <p class="text-xs">By John Doe</p>
                        <div class="flex items-center flex-wrap ">
                            <div class="inline-block mt-2">
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:w-1/4 text-sm">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-cover object-center"
                        src="assets/images/lasagna-bolognese.jpg" alt="blog">
                    <div class="h-1 w-full bg-yellow-400 rounded"></div>
                    <div class="p-4 border-2">
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The Catalyzer</h1>
                        <p class="leading-relaxed mb-3 text-xs">Photo booth fam kinfolk cold-pressed sriracha leggings
                            jianbing
                            microdosing tousled waistcoat.</p>
                        <p class="text-xs">By John Doe</p>
                        <div class="flex items-center flex-wrap ">
                            <div class="inline-block mt-2">
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:w-1/4 text-sm">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="assets/images/cat-2.jpg"
                        alt="blog">
                    <div class="h-1 w-full bg-yellow-400 rounded"></div>
                    <div class="p-4 border-2">
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The Catalyzer</h1>
                        <p class="leading-relaxed mb-3 text-xs">Photo booth fam kinfolk cold-pressed sriracha leggings
                            jianbing
                            microdosing tousled waistcoat.</p>
                        <p class="text-xs">By John Doe</p>
                        <div class="flex items-center flex-wrap ">
                            <div class="inline-block mt-2">
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>