<div class="bg-red-900 text-center text-white py-8">
    <h1 class="font-medium text-3xl">Catgories</h1>
</div>

<section class="text-gray-600 body-font">
    <div class="container md:px-48 px-8 py-16 mx-auto">
        <div class="flex flex-wrap -m-4">
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce"
                        class="object-cover object-center w-full h-full block border-b-8 border-yellow-400"
                        src="assets/images/cat-1.jpg">
                </a>
                <p class="text-center font-medium py-4 border-2 shadow-md">Home cooked Food</p>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce"
                        class="object-cover object-center w-full h-full block border-b-8 border-yellow-400"
                        src="assets/images/cat-2.jpg">
                </a>
                <p class="text-center font-medium py-4 border-2 shadow-md">Cooked Vs Ordered food</p>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce"
                        class="object-cover object-center w-full h-full block border-b-8 border-yellow-400"
                        src="assets/images/cat-2.jpg">
                </a>
                <p class="text-center font-medium py-4 border-2 shadow-md">Street Food</p>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce"
                        class="object-cover object-center w-full h-full block border-b-8 border-yellow-400"
                        src="assets/images/cat-3.jpg">
                </a>
                <p class="text-center font-medium py-4 border-2 shadow-md">Innovative home cooking</p>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce"
                        class="object-cover object-center w-full h-full block border-b-8 border-yellow-400"
                        src="assets/images/cat-5.jpg">
                </a>
                <p class="text-center font-medium py-4 border-2 shadow-md">Snacks & Beverages</p>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce"
                        class="object-cover object-center w-full h-full block border-b-8 border-yellow-400"
                        src="assets/images/cat-6.jpg">
                </a>
                <p class="text-center font-medium py-4 border-2 shadow-md">Salads</p>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce"
                        class="object-cover object-center w-full h-full block border-b-8 border-yellow-400"
                        src="assets/images/cat-7.jpg">
                </a>
                <p class="text-center font-medium py-4 border-2 shadow-md">Desserts</p>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce"
                        class="object-cover object-center w-full h-full block border-b-8 border-yellow-400"
                        src="assets/images/cat-8.jpg">
                </a>
                <p class="text-center font-medium py-4 border-2 shadow-md">Street Food</p>
            </div>
        </div>
    </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container md:px-48 px-8 pt-8 mx-auto">
        <div class="flex flex-wrap w-full">
            <div class="md:w-1/2">
                <img src="assets/images/noodles-full.jpg">
            </div>
            <div class="md:w-1/2 my-3">
                <div class="border-2">
                    <div class="flex flex-col w-full p-6 bg-yellow-100">
                        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 mr-auto">Lorem ipsum
                            dolor
                        </h1>
                        <div class="h-1 w-20 bg-red-800 rounded"></div>
                        <p class="pt-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto,
                            explicabo
                            perferendis
                            nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere
                            dolorum
                            adipisci eum? Saepe, itaque.</p>
                    </div>
                </div>
                <div class="flex my-8">
                    <button
                        class="mx-auto inline-flex border-2 border-red-700 py-1 px-12 rounded text-lg text-red-700">Know
                        More
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="text-gray-600 body-font">
    <div class="container md:px-48 px-8 py-6 mb-10 mx-auto flex flex-wrap">
        <div class="flex flex-col w-full mb-10">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-red-900">You May Also Like
            </h1>
            <div class="h-1 w-32 bg-red-800 rounded"></div>
        </div>
        <div class="flex flex-wrap">
            <div class="md:w-1/4 text-sm">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="assets/images/cat-7.jpg"
                        alt="blog">
                    <div class="h-1 w-full bg-yellow-400 rounded"></div>
                    <div class="p-4 border-2">
                        <h1 class="title-font font-medium text-gray-900 mb-3">Chocolate Chip Cookies</h1>
                        <p class="text-xs">By John Doe</p>
                        <div class="flex mt-2">
                            <div class="flex-1">
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="flex-1 mt-1 text-xs text-right">
                                17th Aug 2019
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:w-1/4 text-sm">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="assets/images/cat-7.jpg"
                        alt="blog">
                    <div class="h-1 w-full bg-yellow-400 rounded"></div>
                    <div class="p-4 border-2">
                        <h1 class="title-font font-medium text-gray-900 mb-3">Chocolate Chip Cookies</h1>
                        <p class="text-xs">By John Doe</p>
                        <div class="flex mt-2">
                            <div class="flex-1">
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="flex-1 mt-1 text-xs text-right">
                                17th Aug 2019
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:w-1/4 text-sm">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="assets/images/cat-7.jpg"
                        alt="blog">
                    <div class="h-1 w-full bg-yellow-400 rounded"></div>
                    <div class="p-4 border-2">
                        <h1 class="title-font font-medium text-gray-900 mb-3">Chocolate Chip Cookies</h1>
                        <p class="text-xs">By John Doe</p>
                        <div class="flex mt-2">
                            <div class="flex-1">
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="flex-1 mt-1 text-xs text-right">
                                17th Aug 2019
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:w-1/4 text-sm">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="assets/images/cat-7.jpg"
                        alt="blog">
                    <div class="h-1 w-full bg-yellow-400 rounded"></div>
                    <div class="p-4 border-2">
                        <h1 class="title-font font-medium text-gray-900 mb-3">Chocolate Chip Cookies</h1>
                        <p class="text-xs">By John Doe</p>
                        <div class="flex mt-2">
                            <div class="flex-1">
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star text-yellow-400" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="flex-1 mt-1 text-xs text-right">
                                17th Aug 2019
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>