<section class="text-gray-600 body-font bg-cover bg-center" style="background-image: url('assets/images/feedback.jpg')">
    <div class="container px-5 py-16 mx-auto flex">
        <div
            class="lg:w-1/3 md:w-1/2 bg-white rounded-lg p-8 flex flex-col w-full mt-10 md:mt-0 md:mx-24 relative shadow-md text-center">
            <h2 class="text-gray-900 text-2xl mb-2 font-medium title-font">Let Us Know Your Feedback</h2>
            <p class="leading-relaxed text-sm mb-5 text-gray-600">We would like your feedback to improve our website.
            </p>
            <div class="relative my-4 pb-4">
                <p class="leading-relaxed text-sm mb-2 text-gray-600">What is your opinion?
                </p>
                <div>
                    <i class="fa fa-star fa-2x mx-1 text-yellow-400" aria-hidden="true"></i>
                    <i class="fa fa-star fa-2x mx-1 text-yellow-400" aria-hidden="true"></i>
                    <i class="fa fa-star fa-2x mx-1 text-yellow-400" aria-hidden="true"></i>
                    <i class="fa fa-star fa-2x mx-1 text-yellow-400" aria-hidden="true"></i>
                    <i class="fa fa-star fa-2x mx-1" aria-hidden="true"></i>
                </div>
            </div>
            <div class="relative mb-4">
                <label for="message" class="leading-7 text-sm text-gray-600">Please share your feedback below</label>
                <textarea id="message" name="message"
                    class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
            </div>
            <button
                class="text-white bg-red-800 border-0 py-2 px-6 focus:outline-none hover:bg-red-900 rounded text-lg">Submit</button>
        </div>
    </div>
</section>